#keys{
    display: grid;
}

button{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: grey;
    font-size: 2rem;
    font-weight: 150;
    margin: 5px;
}