body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: beige;
}

#calc{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;
}

#display{
    width: 100%;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    border-radius: 20px;
}

#keys{
    display: grid;
}

button{
    background-color: grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: 150;
    margin: 5px;
}