html{
    scroll-behavior: smooth;
}

body{
    background: #394582;
    background: radial-gradient(circle, rgba(57, 69, 130, 1) 0%, rgb(13, 35, 75) 100%);
    padding: 20px;
    
}

h1{
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    line-height: 0;
    
}

.university{
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    font-weight: bold;
}

img{

    display: block;
    margin: auto;
    width: 250px;
    border-radius: 250px;
}

nav{
    text-align: center;
    line-height: 5;
}

a:link, a:visited{
    color: azure;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover, a:active{
    color: rgb(150, 131, 24);
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: rgb(169, 181, 193);
    line-height: 1;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 1px;
    color: rgb(179, 171, 171);
    line-height: 1.5;
    font-size: 18px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(140, 158, 176);
    line-height: 1;

}

ul li{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 18px;
    word-spacing: 1px;
    color: rgb(179, 171, 171);

}


.github{
    width: 48px;
}

.linkedin{
    width: 48px;
}

.con-links{
    list-style-type: none;
    display: flex;
    gap: 30px;

}